image: node:20

stages:
  - deploy

deploy_to_railway:
  stage: deploy
  only:
    - main
  script:
    - npm install -g @railway/cli
    - railway link --project $RAILWAY_PROJECT_ID
    - railway up
